.clContainer {
  margin-top: 20px!important;
  padding-bottom: 20px!important;
  justify-content: center;
  display: flex;
}

.clCard{
  width: 600px;
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  border-radius: 5px;
  padding: 40px 60px;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow .1s ease-in-out;
}

@media (max-width:600px){
  .clCard{
    box-shadow: none;
  }
}

@media (max-width:440px){
  .clCard{
    padding: 30px 30px;
  }
}

