.hCenterOnlyContainer {
  margin-top: 20px!important;
  justify-content: center;
  display: flex;
  text-align: center!important;
}

.hCenterOnlyCard{
  width: 600px;
  box-sizing: border-box;
  transition: box-shadow .1s ease-in-out;
}

#aboutLogo {
  height: 150px;
  width: 150px;
}

#about h4 {
  font-weight: 300;
}

/**/

@media only screen and (max-width:600px){
  #about .hCenterOnlyCard{
    box-shadow: none
  }
}
@media only screen and (max-width:420px){
  #about .hCenterOnlyCard h1{
    font-size: 3.5rem
  }
  #about .hCenterOnlyCard h2{
    font-size: 2.5rem;
    font-weight: 300
  }
  #aboutlogo {
    width: 125px;
  }
}
@media only screen and (max-width:375px){
  #about .hCenterOnlyCard h1{
    font-size: 3rem;
    font-weight: 300
  }
  #about .hCenterOnlyCard h2{
    font-size: 2rem;
  }
  #aboutlogo{
    width: 100px
  }
}
@media only screen and (max-width:335px){
  #about .hCenterOnlyCard h1{
    font-size: 2.5rem
  }
  #about .hCenterOnlyCard h2{
    font-size: 1.5rem
  }
  #aboutlogo{
    width: 75px
  }
}

