.under {
  margin-top: 70px!important
}

#noticesList .uk-accordion>:nth-child(n+2) {
  margin-top: 20px;
}

#noticesList .uk-accordion-content {
  margin-top: 8px;
}

.noticesParent {
  display: flex;
  justify-content: center;
}

.uk-button, .uk-select {
  border-radius: 5px;
}

.noticesChild {
  margin-top: 20px!important;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow .1s ease-in-out;
  width: 750px;
  padding: 30px 30px;
}

.yearSelect {
  float: right;
  width: 60px!important;
}

.uk-search-default {
  width: 120px!important;
}

.uk-search > .uk-search-input {
  border-radius: 5px 0 0 5px!important;
}

#yearSelector {
  border-radius: 5px!important;
}

@media (max-width:750px) {
  .noticesChild {
    box-shadow: none;
  }
  .noticesChild .uk-accordion-title {
    font-size: 1.25rem;
  }
}