/*Parent of the iframe to take up the maximum space in the window*/
.embed {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: block;
}

/*Positions the iframe infront of the loading spinner*/
.container {
  position: relative;
  z-index: 1;
}

/*Loading parent and loading child has properties to vertically and horizontally the spinner*/
.loadingParent {
  display: flex;
  height: auto;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  min-height: -o-calc(100vh - 80px);
  min-height: -webkit-calc(100vh - 80px);
  min-height: -moz-calc(100vh - 80px);
  z-index: -1;
}
.loadingChild {
  margin: auto;
  justify-content: center;
  display: flex;
  text-align: center!important;
  max-width: 100%;
}
