.settingsParent {
  display: flex;
  justify-content: center;
}

.uk-button-group {
  margin-top: 20px;
}

#settingsContent {
  text-align: left;
}




.card {
  padding: 30px 30px;
  border-radius: 5px;
}






/*Theme (affects the background color and the border shadow)*/
/*Dark Material*/
.material.uk-light {
  background-color: #2f3136!important;
}
.material.uk-light #content {
  background: #2f3136;
}
.material.uk-light .uk-navbar-container {
  background: #36393e;
}
.material.uk-light .card {
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
.material.uk-dark .card {
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

/*Dark Clean*/
.clean.uk-light {
  background-color: #36393e!important;
}
.clean.uk-light #content {
  background: #36393e
  ;
}
.clean.uk-light .uk-navbar-container:not(.uk-navbar-transparent) {
  background: #2f3136;
}
/*Light Clean*/
.clean.uk-dark {
  background-color: white!important;
}
.clean.uk-dark #content {
  background: white
  ;
}
.clean.uk-dark .uk-navbar-container:not(.uk-navbar-transparent) {
  background: #f9f9f9;
}


/*Light color*/
.uk-dark .card {
  background: #fff;
  color: #666;
}
.uk-dark .settingsChild {
  background: #fff;
  color: #666;
}
.uk-dark {
  background-color: #f9f9f9;
}

/*Dark color*/
.uk-light .uk-select {
  background-color: #36393e;
}
.uk-light .card {
  background: #36393e;
  color: white;
}
.uk-light .uk-dropdown {
  color: white;
  background: #36393e;
}
.uk-light .uk-search .uk-search-icon, .uk-light .uk-search-default .uk-search-input {
  color: #e8e8e8;
}
.uk-light .uk-select option {
  color: #e8e8e8;
  background-color: #36393e;
}
.uk-light .uk-button-default:hover, .uk-light .uk-search-input:hover, .uk-light .uk-select:hover {
  border-color: #2dc0d5;
}
.uk-dark .uk-button-default:hover, .uk-dark .uk-search-input:hover, .uk-dark .uk-select:hover {
  border-color: #2dc0d5;
}
.uk-light .ql-editor.ql-blank::before {
  color: #e8e8e8!important;
}
.uk-light .ql-snow .ql-stroke {
  stroke: #e8e8e8;
}
.uk-light .uk-select option:hover {
  background-color: #2dc0d5;
  color: white;
}
.uk-light .uk-accordion-title:hover, .uk-light .uk-navbar-dropdown-nav>li>a:hover, .uk-light .uk-navbar-nav>li>a:hover, .uk-light .ql-snow .ql-picker, .uk-light .ql-snow .ql-stroke {
  color: white;
}
.uk-light .meta, .uk-light .uk-accordion-title, .uk-light .uk-navbar-dropdown-nav>li>a, .uk-light .uk-navbar-nav>li>a {
  color: #e8e8e8;
}

.settingsChild {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow .1s ease-in-out;
  width: 550px;
}

.big {
  margin-top: 70px!important
}

.settingsChild .uk-align-left{
  margin-top: 0px;
  margin-bottom: 0px;
}

.uk-table-small button ::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

.width-small {
  width:80px;
}

.settingsChild td code {
  word-wrap: break-word;
  user-select: text;
  font-size: .875rem;
  color: #666;
  white-space: initial!important;
  padding: 2px 6px;
  background: #f8f8f8;
}

#ttableInfo {
  margin-bottom: 5px!important;
  margin-left: 5px!important;
}

#detailsTable {
  width: 100%!important;
  table-layout: fixed!important;
}

@media (max-width:550px){
  .settingsChild {
    width: 100vw;
    box-shadow: none;
  }
  #settingsContent .uk-accordion-title {
    font-size: 1.25rem;
  }
  .settingsParent h2 {
    font-size: 2.5rem;
  }
}