body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.main {
  transition: 150ms linear;
}

.djLogo {
  width: 60px;
  height: 60px
}
  

.content {
  align-content: center;
  margin-left: 10px;
  background: white;
  transition: 150ms linear;
}

.background {
  background-color: #2a2c31;
}

@media screen and (max-width: 820px) {
  .uk-navbar-item,.uk-navbar-nav>li>a,.uk-navbar-toggle {
    height:60px
  }
  .djLogo {
    width: 40px;
    height: 40px
  }
}


