.uk-navbar-nav>li>a {
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

html, body, #main, #app {
  height: 100%;
  width: 100%;
}

#content {
  z-index: 1;
}

.navbarActive {
  background: #2dc0d5;
  color: #fff!important;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  border-radius: 0 0 5px 5px;
}

.uk-navbar-nav>li>a {
  border-radius: 0 0 5px 5px;
}

.mouseLoad{
  cursor: wait;
}

.uk-tooltip {
  background-color: #2dc0d5;
  z-index: 2;
}

h1,h2,h3,h4,h5,h6,h7,.uk-h1,.uk-accordion-title,.uk-text-lead {
  font-family: 'Roboto', sans-serif
}

b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700
}

.spinner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.uk-accordion-title,.uk-text-lead {
  font-size: 1.5rem;
  font-weight: 300
}

.welcomeNav {
  position: fixed;
  visibility: hidden
}

.main {
  transition: 150ms linear;
}

.djLogo {
  width: 50px;
  height: 50px;
  transition: width 0.1s;
  transition: height 0.1s
}

.name {
  margin-bottom: 0px;
  margin-right: 5px;
}

.uk-navbar-item,.uk-navbar-nav>li>a,.uk-navbar-toggle {
  transition: height 0.1s
}

.uk-sticky-placeholder {
  height: 80px!important;
}

.content {
  align-content: center;
  margin-left: 10px;
  background: white;
  transition: 150ms linear;
}

.background {
  background-color: #2a2c31;
}

/*Vertical centering content with a navbar above*/
.vcNavbarParent {
  display: flex;
}

.full {
  min-height: calc(100% - 80px);
  min-height: -o-calc(100% - 80px);
  min-height: -webkit-calc(100% - 80px);
  min-height: -moz-calc(100% - 80px);
}

.vcNavbarCard, #vcNavbarCard {
  margin: auto;
  justify-content: center;
  display: flex;
  text-align: center!important;
  max-width: 100%;
}

@media (max-width: 960px) {
  .uk-navbar-item,.uk-navbar-nav>li>a,.uk-navbar-toggle {
    height:60px
  }
  .uk-sticky-placeholder {
    height:60px!important
  }
  .full {
    min-height: calc(100% - 60px);
    min-height: -o-calc(100% - 60px);
    min-height: -webkit-calc(100% - 60px);
    min-height: -moz-calc(100% - 60px)
  }
  .djLogo {
    width: 40px;
    height: 40px
  }
  .collapseText {
    font-size: 0
  }
  .collapseSpan {
    margin-right: 0px!important
  }
}

@media screen and (max-width: 580px) {
  .djLogo {
    width: 0px!important;
    height: 0px!important;
    margin: 0 0 0 0!important;
  }
  .name{
    font-size: 0px;
    margin-right: 0px
  }
}

@media screen and (max-width: 300px){
  .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    padding: 0 10px;
  }
}

@media (max-height: 700px) {
  .uk-navbar-item,.uk-navbar-nav>li>a,.uk-navbar-toggle {
    height:60px
  }
  .uk-sticky-placeholder {
    height:60px!important
  }
  .djLogo{
    width: 40px;
    height: 40px;
  }
  .full {
    min-height: calc(100% - 60px);
    min-height: -o-calc(100% - 60px);
    min-height: -webkit-calc(100% - 60px);
    min-height: -moz-calc(100% - 60px)
  }
  .collapseText {
    font-size: 0
  }
  .collapseSpan {
    margin-right: 0px!important
  }
}