.uk-navbar-nav>li>a {
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

#content {
  z-index: 1;
}

.mouseLoad{
  cursor: wait;
}

#CalendarA {
  color: #999!important;
  pointer-events: all;
  opacity: 0.25;
  cursor: default;
}

.uk-tooltip {
  background-color: #2dc0d5;
  z-index: 2;
}

h1,h2,h3,h4,h5,h6,h7,.uk-h1,.uk-accordion-title,.uk-text-lead {
  font-family: 'Roboto', sans-serif
}

b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700
}

.spinner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body {
  user-select: none
}

html, body {
  height: 100%!important;
  width: 100%!important;
}

.uk-accordion-title,.uk-text-lead {
  font-size: 1.5rem;
  font-weight: 300
}

.welcomeNav {
  position: fixed;
  visibility: hidden
}

.main {
  transition: 150ms linear;
}

.djLogo {
  width: 50px;
  height: 50px;
  transition: width 0.1s;
  transition: height 0.1s
}

.name {
  margin-bottom: 0px;
  margin-right: 5px;
}

.uk-navbar-item,.uk-navbar-nav>li>a,.uk-navbar-toggle {
  transition: height 0.1s
}

.uk-sticky-placeholder {
  height: 80px!important;
}

.content {
  align-content: center;
  margin-left: 10px;
  background: white;
  transition: 150ms linear;
}

.background {
  background-color: #2a2c31;
}

/*Vertical centering content with a navbar above*/
.vcNavbarParent {
  display: flex;
  height: auto;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  min-height: -o-calc(100vh - 80px);
  min-height: -webkit-calc(100vh - 80px);
  min-height: -moz-calc(100vh - 80px)
}
.vcNavbarCard {
  margin: auto;
  justify-content: center;
  display: flex;
  text-align: center!important;
  max-width: 100%;
}

@media (max-width: 920px) {
  .uk-navbar-item,.uk-navbar-nav>li>a,.uk-navbar-toggle {
    height:60px
  }
  .uk-sticky-placeholder {
    height:60px!important
  }
  .vcNavbarParent {
    display: flex;
    height: auto;
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    min-height: -o-calc(100vh - 60px);
    min-height: -webkit-calc(100vh - 60px);
    min-height: -moz-calc(100vh - 60px)
  }
  .djLogo {
    width: 40px;
    height: 40px
  }
  .collapseText {
    font-size: 0
  }
  .collapseSpan {
    margin-right: 0px!important
  }
}

@media screen and (max-width: 500px) {
  .djLogo {
    width: 0px!important;
    height: 0px!important;
    margin: 0 0 0 0!important;
  }
  .name{
    font-size: 0px;
    margin-right: 0px
  }
}

@media screen and (max-width: 300px){
  .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    padding: 0 10px;
  }
}

@media (max-height: 700px) {
  .uk-navbar-item,.uk-navbar-nav>li>a,.uk-navbar-toggle {
    height:60px
  }
  .uk-sticky-placeholder {
    height:60px!important
  }
  .djLogo{
    width: 40px;
    height: 40px;
  }
  .vcNavbarParent {
    display: flex;
    height: auto;
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    min-height: -o-calc(100vh - 60px);
    min-height: -webkit-calc(100vh - 60px);
    min-height: -moz-calc(100vh - 60px)
  }
  .collapseText {
    font-size: 0
  }
  .collapseSpan {
    margin-right: 0px!important
  }
}
