.timetable {
  font-family: 'Roboto Mono', monospace;
}
.heading {
  font-family: 'Roboto' !important;
  font-weight: 300
}

@media (min-width:728px){
  miniFill {
    width:100%!important
  }
}

@media (max-width:530px){
  #fullTimetable {
    visibility: hidden;
    display: none
  }
  #smallTimetable{
    visibility: visible
  }
}

@media (min-width:530px){
  #fullTimetable {
    visibility: visible
  }
  #smallTimetable{
    visibility: hidden;
    display: none
  }
}
