.currentDay {
  color: #2dc0d5!important;
}

#acAdd:disabled, #acWeek:disabled, #acAdd2:disabled, #acWeek2:disabled {
  background-color: #f8f8f8!important;
  border-color: #e5e5e5!important;
  color: #999!important;
}

#fullTimetable [class*=uk-align], #smallTimetable [class*=uk-align] {
  display: block;
  margin-bottom: 5px;
}

.timetable td {
  font-family: 'Roboto Mono', monospace;
  padding:5px 6px;
  transition: box-shadow .1s ease-in-out;
  transition: background .1s ease-in-out;
}
.heading {
  font-family: 'Roboto' !important;
  font-weight: 300
}

.periodIndicator {
  opacity: 0.5;
}

.uk-text-center th {
  text-align: center;
}

.highlight {
  background: #2dc0d5;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  border-radius: 3px;
}

.ttableCard {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow .1s ease-in-out;
  width: 600px;
}

.uk-tab>* {
  padding-left: 10px!important;
}

#ttableName {
  font-weight: 300;
}

@media (max-height:1000px){
  .Dynamic .timetable td, .Full .timetable td{
    padding: 2px 1px;
  }
  .Dynamic .uk-table th, .Full .uk-table th  {
    padding: 5px 6px;
  }
  .Dynamic .uk-table, .Full .uk-table{
    margin-bottom: 5px;
  }
  .Dynamic #ttableName, .Full #ttableName{
    font-size: 2.25rem;
  }
  .Dynamic #fullTimetable hr, .Full #fullTimetable hr{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .Dynamic .ttableCard, .Full .ttableCard {
    width: 525px;
  }
}

@media (max-height:810px){
  #ttableName{
    visibility: hidden;
    height: 0px;
  }
  #fullTimetable h3{
    height:0px;
  }
}

@media (max-width:530px), (max-height:750px){
  .Dynamic #fullTimetable {
    visibility: hidden;
    display: none;
  }
  .Dynamic #smallTimetable{
    visibility: visible;
    display: block;
  }
  .Full #fullTimetable {
    visibility: visible;
    display: block;
  }
  .Full #smallTimetable{
    visibility: hidden;
    display: none;
  }
  .Small #fullTimetable {
    visibility: hidden;
    display: none;
  }
  .Small #smallTimetable{
    visibility: visible;
    display: block;
  }
}

@media (min-width:530px) and (min-height:750px){
  .Small>#fullTimetable {
    visibility: hidden;
    display: none;
  }
  .Small>#smallTimetable{
    visibility: visible;
    display: block;
  }
  .Dynamic #fullTimetable {
    visibility: visible;
    display: block;
  }
  .Dynamic #smallTimetable{
    visibility: hidden;
    display: none;
  }
  .Full #fullTimetable {
    visibility: visible;
    display: block;
  }
  .Full #smallTimetable{
    visibility: hidden;
    display: none;
  }
}

@media (max-width:371px){
  #smallTimetable a{
    padding-left: 5px;
    padding-right: 5px;
  }
  .uk-tab>* {
    padding-left: 5px!important;
  }
}

@media (max-width:600px){
  .ttableCard{
    box-shadow: none;
  }
}