.time {
  margin-left: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeText {
  transform: translateX(77%) translateY(-50%);
  font-size: 50px;
  text-aligin: center;
}

.infoText {
  margin-top: 30px;
  transform: translateX(-40%) translateY(-50%);
  text-align: center;
}
