.navbarLight, .navbarDark {
  width: 150px;
  height: 100%;
  position: fixed;
}

.navbarLight {
  background-color: #DEDEDF;
}

.navbarDark {
  background-color: #202225;
}

.text {
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.navButtons {
  width: 110px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
}
