.djLogo {
  width: 60px;
  height: 60px
}

.uk-padding-large {
  padding-left: 30px!important;
  padding-right: 30px!important
}

.show {
  visibility: visible!important;
}

.hide {
  visibility: hidden!important;
  display: none!important;
}

.centerParent {
  display: flex;
  height: auto;
  margin: 0 auto;
}

.centerCard {
  margin: auto;
}

@media screen and (max-width: 450px) {
  .centerCard{
    width:100%
  }
}

@media screen and (max-width: 420px) {
  #djTitle {
    font-size: 3.1em
  }
}