.flex-container {
  justify-content: center;
  display: flex;
}

.two {
  width: 800px;
}

.flex-child {
  margin-top: 20px!important;
}

.month {
  padding: 70px 25px;
  background: #2dc0d5;
  text-align: center;
  border-radius: 5px 0 0 0;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding: 20px;
}

.month .next {
  float: right;
  padding: 20px;
}

.uk-dark .weekdays {
  margin: 0;
  padding: 10px;
  background-color: #f8f8f8;
}

.uk-light .weekdays {
  margin: 0;
  padding: 10px;
  background-color: rgba(0,0,0,.1);
}

.uk-dark .weekdays li {
  display: inline-block;
  width: 14.2%;
  color: #666;
  text-align: center;
  margin: 10px 0 10px 0;
}

.uk-light .weekdays li {
  display: inline-block;
  width: 14.2%;
  color: white;
  text-align: center;
  margin: 10px 0 10px 0;
}

.uk-dark .days {
  padding: 10px;
  background: #fff;
  margin: 0;
  border-radius: 0 0 0 5px;
}

.uk-light .days {
  padding: 10px;
  background: #36393e;
  margin: 0;
  border-radius: 0 0 0 5px;
}

.month li {
  list-style-type: none;
}

.uk-dark .days li {
  list-style-type: none;
  display: inline-block;
  width: 14.2%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
}

.uk-light .days li {
  list-style-type: none;
  display: inline-block;
  width: 14.2%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e8e8e8;
}

.uk-light .days li:hover, .uk-light .prev:hover, .uk-light .next:hover {
  background-color: rgba(255,255,255,0.08);;
  transition: background-color 100ms linear;
}

.uk-dark .days li:hover, .uk-dark .prev:hover, .uk-dark .next:hover {
  background-color: #effdff;
  transition: background-color 100ms linear;
}

.weekdays li{
  font-weight: 700;
}

.eventsList {
  text-align: left;
}

.events {
  overflow-y: scroll;
}

.eventsBorder{
  border-radius: 0 5px 5px 0;
  height: 522px;
}

#bbb {
  border-radius: 5px!important;
}

#ccc {
  margin-right: 30px;
}

.daysOverlay {
  height: 260px;
  width: 100%;
}

#aaa button{
  padding: 0 15px;
}

.days .active {
  background: #2dc0d5;
  color: white !important
}

.days {
  text-align: left!important;
}

.cal {
  height: 522px!important;
  border-radius: 5px 0 0 5px;
  padding: 0!important;
}

.events td {
  text-align: left;
}

.events p {
  margin-bottom: 20px;
}

.vcNavbarParentCal {
  display: flex;
}

@media screen and (max-width: 420px) {
/*  .weekdays li, .days li {width: 12.5%;}*/
  .days li .active {padding: 2px;}
}

@media (max-width: 639px) {
  .events {
    overflow-y: visible;
    height: auto;
  }
  .uk-grid{
    margin-top: 20px!important;
  }
  .cal {
    border-radius: 5px 5px 0 0 ;
    height: auto!important;
    margin-right: 0px;
  }
  .eventsBorder{
    border-radius: 0 0 5px 5px;
    height: auto!important;
    margin: 0px;
  }
  .month {
    border-radius: 5px 5px 0 0 ;
    padding: 40px 25px;
  }
  .days {
    border-radius: 0;
  }
  .days li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
  }
  .weekdays li {
    margin: 0px;
    font-size: 12px;
  }
  .vcNavbarParentCal {
    display: block!important;
  }
  .daysOverlay {
    height: 170px;
  }
  #parentCalCard {
    margin-top: 30px;
  }
}