.flex-container {
  justify-content: center;
  display: flex;
}

.two {
  width: 800px;
}

.flex-child {
  margin-top: 20px!important;
}

.month {
  padding: 70px 25px;
  background: #2dc0d5;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  margin-top: 10px;
}

.month .next {
  float: right;
  margin-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px;
  background-color: #f8f8f8;
}

.weekdays li {
  display: inline-block;
  width: 14.2%;
  color: #666;
  text-align: center;
  margin: 10px 0 10px 0;
}

.days {
  padding: 10px;
  background: #fff;
  margin: 0;
}

.month li {
  list-style-type: none;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 14.2%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
}

.days li:hover, .days li:focus, .prev:hover, .prev:focus, .next:hover, .next:focus {
  background-color: #e0e0e0;
  transition: background-color 100ms linear;
}

.weekdays li{
  font-weight: 700;
}

.eventsList {
  text-align: left;
}

.events {
  overflow-y: scroll;
  height: 482px;
}


.days .active {
  background: #2dc0d5;
  color: white !important
}

.days {
  text-align: left!important;
}

.cal {
  height: min-content!important;
}

.events td {
  text-align: left;
}



@media screen and (max-width: 420px) {
/*  .weekdays li, .days li {width: 12.5%;}*/
  .days li .active {padding: 2px;}
}

@media (max-width: 639px) {
  .events {
    overflow-y: visible;
    height: auto;
  }
  .uk-grid{
    margin-top: 20px!important;
  }
}
