.calNotif {
  left: 300%;
  position: absolute!important;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  min-width: 22px;
  height: 22px;
  padding: 0 5px;
  border-radius: 500px;
  vertical-align: middle;
  background: #2dc0d5;
  color: #fff;
  font-size: .875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.calDay {
  width: 30px
}

.calTable {
  table-layout: fixed;
  padding: 5px 5px!important;
}

.calCell {
  text-align: center;
  width: 1px;
  vertical-align: middle!important;
}

.calCellMuted {
  color: #999!important;
  text-align: center;
  width: 1px;
}

.calCellSelected {
  background-color: #2dc0d5;
  vertical-align: middle!important;
  font-weight: bolder;
}

.calWidth {
  width: 85%
}