.settings {
  margin-left: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsText {
  transform: translateX(-140%) translateY(-80%);
  font-size: 50px;
}